h1{
    list-style-type: none; 
}

li{
  color: white;

}
.sect{
  background-color: gray;
  border-radius: 15px;
  padding: 1px;
}

.lol{
  display: flex;
  flex-flow: row nowrap;
  background-color: dimgrey;
  margin: 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
}

.qty{
  margin: 15px;
  background-color: #0000007d;
  width: 5px;
  border-radius: 8px;
  padding: 15px;
  height: 0%;
}

.snack{  
  margin: 5px;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  
}